<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/home.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
</head>

<body>
    <ul id="menu">
        <li data-menuanchor="Title"><a href="#title">Title</a></li>
        <li data-menuanchor="bio"><a href="#bio">Biography</a></li>
    </ul>

    <div id="section0" class="section" data-name="title">

        {% include common/notices.html %}

        <div class="headings animated fadeInLeft">
            {% if site.home.section1 %}{{ site.home.section1 }}{% endif %}
            {% if site.home.section2 %}{{ site.home.section2 }}{% endif %}
            {% if site.home.section3 %}{{ site.home.section3 }}{% endif %}
        </div>
        <a class="btn-continue animated bounce" title="{{ site.data.i18n[site.lang].more }}" href="#bio"></a>
    </div>


    <div id="section1" class="section" data-name="bio">
        <h1 class="animated hidden">
             科学统治的现代社会追求普适的规律，讲究万用的解法；现代的设计也习惯沿用稳妥的流程，寻求高效的方法，最终满足于问题的解决和各方利益的协调，忽视特殊的发展和可能性。

             是否有着更好的发展等待着追求，特殊的偶然等待着发现？“Serendipity”只能期待于偶然，还是可以经由主动的寻觅实现？

             在这个作品集中，本人希望通过五个不同方向的设计，探寻“Serendipity”的足迹，并进行一些设计的尝试。
            <a class="btn-enter btn-light" title="{{ site.data.i18n[site.lang].enter_blog }}" href="{{ site.paths.blog | relative_url }}">{{ site.data.i18n[site.lang].enter_blog }}
            </a>
        </h1>
       
    </div>

    {% include home/scripts.html %}
</body>

</html>
